[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
flask = "*"
requests = "*"
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
slack-sdk = "*"

[dev-packages]

[requires]
python_version = "3.9"
